body {
    margin: 0;
    min-height: 100vh;
    font-family: "Open Sans";
}

#__next {
    display: flex;
}

.btn {
    display: inline-block;
    padding: 10px 20px;

    color: white;
    font-weight: bold;

    background-color: darkblue;
    border: none;
    border-radius: 3px;
}

.btn:not(.disabled):hover {
    cursor: pointer;
}

/*---*/

.main-sidebar {
    width: 300px;
    padding-left: 30px;
    padding-top: 20px;

    border-right: 1px solid black;
}

.user-link {
    border-bottom: 1px solid lightgray;
}

.main-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-links li {
    margin-bottom: 12px;
}

.main-links a, .main-links a:visited {
    padding: 10px 0;
    color: black;
    text-decoration: none;
}

.btn-logout {

}

/*---*/

.form-control {
    margin-bottom: 20px;
}

.form-wrapper {
    margin: 0 auto;
}


